.formation-select {
  display: flex;
  align-items: center;

  label {
    font-size: 1.4rem;
    margin-right: 0.7rem;
    color: #f3f4f6;
    font-weight: 500;
    line-height: 50px;       // Igual que el select
    vertical-align: middle;
  }

  select {
    min-height: 50px;        // Más chica pero cómoda
    font-size: 1.08rem;
    font-weight: bold;
    padding: 0 2rem;
    border: none;
    border-radius: 0.5rem;
    background: #343434;
    color: #fff;
    transition: background 0.15s;
    min-width: 140px;
    cursor: pointer;

    &:focus,
    &:hover {
      background: #222;
    }
  }
}
